body{
  font-family: "Nunito", "sans-serif";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

a:hover {
    text-decoration: underline;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Assicura che la navbar sia sopra gli altri elementi */
}


.video-container {
  position: relative;
  width: 100%;
  height: 80%;
  padding-bottom: 56.25%; /* Proporzione 16:9 */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assicura che il video riempia l'area senza distorsioni */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Sovrapposizione scura */
}

.info-section {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.sezione-immagine {
  text-align: center;
  margin: 20px;
}
.sezione-immagine img {
  max-width: 100%;  /* L'immagine non supererà mai il 100% della larghezza del contenitore */
  height: auto;     /* Mantiene le proporzioni dell'immagine */
}
@media (max-width: 600px) {
  .sezione-immagine {
      margin: 10px;  /* Riduce il margine sui dispositivi più piccoli */
  }
}
@media (max-width: 768px) {
 
  body {
      padding-top: 60px; /* Riduce la compensazione della navbar su schermi più piccoli */
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 80%;
    padding-bottom: 90.25%; /* Proporzione 16:9 */
    overflow: hidden;
  }

}

@media (max-width: 576px) {
  .video-overlay {
      font-size: 1.2em; /* Riduce ulteriormente la dimensione del testo sui dispositivi più piccoli */
  }

  body {
      padding-top: 50px; /* Ancora meno spazio per la navbar su schermi molto piccoli */
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 80%;
    padding-bottom: 90.25%; /* Proporzione 16:9 */
    overflow: hidden;
  }
  .troppo-grosso{
    display: none;

  }
}